.top-bar
  %h3 ImplicitCAD (ExtOpenSCAD) Cloud
  .pull-right
    .btn-toolbar.btn-toolbar-mod
      = navigation_button_small "/", "Home"
      .btn-group
        %a.btn.dropdown-toggle{ "data-toggle" => "dropdown"}
          Docs
          .caret
        %ul.dropdown-menu
          = navigation_item "/docs/tutorial", "Tutorial"
          = navigation_item "/docs/install", "Installing"
          = navigation_item "/docs/api", "API Reference"
          = navigation_item "/docs/faq", "FAQ"
      = navigation_button_small "/examples", "Examples"
      .btn-group
        %a.btn.dropdown-toggle{ "data-toggle" => "dropdown"}
          Source
          .caret
        %ul.dropdown-menu
          = navigation_item "http://kalli1.faikvm.com/ImplicitCAD/Stable", "ImplicitCAD"
          = navigation_item "http://kalli1.faikvm.com/ImplicitCAD/Website", "ImplicitCAD.org"
          = navigation_item "http://github.com/colah/ImplicitCAD", "ImplicitCAD(github)"
          = navigation_item "http://github.com/colah/implicitcad.org", "ImplicitCAD.org(github)"
      = navigation_button_small "/editor", "Try It Online!"

.editor_and_viewer_container
  %pre.editor= @code || escad_example(@example)

  .output.well
    .btns-output
      //%a.btn.btn-toggle-transparency{href: "#"}
      //  Toggle Tranparency
      .btn-toolbar
        .btn-group
          %a.btn.btn-zoom-out{href: "#"}
            =#%i.icon-zoom-out
            Zoom Out
          %a.btn.btn.btn-zoom-in{href: "#"}
            =#%i.icon-zoom-in
            Zoom In
        //%span.navigation-tips.muted{style: 'vertical-align: 50%'}
        //  You can also pan by holding your
        //  %abbr{title: 'Commonly ⌘ on Mac'}
        //    %code Meta
        //  key while dragging
        .btn-group.pull-right
          %a.btn.btn-primary.btn-render{href: "#"}
            Render
          %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
            %i.icon-download-alt
          %ul.dropdown-menu
            %li
              %a.download-STL{href: "#"}
                STL
            %li.disabled-generic
              %a.download-OBJ
                OBJ
            %li
              %a.download-SVG{href: "#"}
                SVG
            %li
              %a.download-gcode-hacklab-laser{href: "#"}
                G-code (Hacklab Laser)
    .well.viewer
      .svg-viewer
      .stl-viewer
    %h3 Console
    .well.console


